:root {
  /* 2023 color code */
  --dark-grey: #282828;
  --mid-grey: #333333;
  --light-grey: #464646;
  --mid-red: #c52727;
  --mid-beige: #f9dbbb;
  --font-family: 'Arial', sans-serif;

  /*2025 color code*/
  --pure-white: #ffffff;
  --pure-black: #000000;
  --dark-bluegreen: #0b5d37;
  --dark-bluegreen-05alpha: #00302080;
  --dark-bluegreen-07alpha: #003020b3;
  --mid-bluegreen: #148844;
}